{% extends 'base.html' %}
{% load static %}

{% block title %}Bulletin{% endblock title %}

{% block content %}
<div class="min-h-screen flex flex-col">
    <div>
        {% include 'header.html' %}
    </div>
    <div>
        <div class="flex">
            <!-- Searching berita -->
            <div class="my-4 flex items-center">
                <form method="get" id="search-form" action="{% url 'bulletin:search-bulletin' %}">
                    <div class="flex">
                        <input type="text" name="q" id="search-input" placeholder="Search title"
                            class="px-4 py-2 rounded-lg border-2 border-gray-300 focus:outline-none focus:border-blue-500 w-4/5 ml-4">
                        <button type="submit" class="px-4 py-2 bg-teal-500 text-white hover:bg-teal-700 rounded-lg ml-1">Search</button>
                        <a href="{% url 'bulletin:add-news-page' %}"class="px-4 py-2 bg-teal-500 text-white hover:bg-teal-700 rounded-lg block ml-1">Add</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="p-6 flex-grow">
        <!-- Daftar berita di sini -->
        <ul id="bulletin-list">
            {% if bulletins %}
                {% for bulletin in bulletins %}
                <li>
                    <a href="{% url 'bulletin:full-news' bulletin.pk %}"
                        class="py-3 text-lg font-semibold hover:text-gray-600">
                        {{ bulletin.title }}</a>
                    <p>{{ bulletin.content|slice:":400" }}...</p>
                </li>
                {% endfor %}
            {% else %}
                <li class = "text-lg text-red-500">No results matching "{{query}}" .</li>
            {% endif %}
        </ul>
    </div>

    <!-- Kumpulan card rekomendasi buku -->
    <div class="bg-gray-100 p-6">
        <h1 class="text-center text-2xl font-semibold py-3">Book Recommendations</h1>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4">
            {% for book in latest_books %}
            <div class="bg-white shadow-lg rounded-lg cursor-grab">
                <img src="{{ book.cover_img }}" class="rounded-t-lg w-full h-64 object-cover">
                <div class="p-4">
                    <h2 class="text-lg font-semibold">{{ book.title }}</h2>
                    <p class="text-sm">Author: {{ book.authors }}</p>
                    <p class="text-sm">Publisher: {{ book.publisher }}</p>
                    <p class="text-sm">ISBN: {{ book.isbn }}</p>
                    <p class="text-sm">Pub Year: {{ book.pub_year }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    

    <div>
        <!-- Footer Anda di sini -->
        {% include 'footer.html' %}
    </div>
</div>
{% endblock content %}


