{% extends 'base.html' %}
{% load static %}
{% block title %}news{% endblock title %}
{% block content %}
<div class="min-h-screen flex flex-col">
    <div>
        {% include 'header.html' %}
    </div>
    <div class="flex-grow max-w-screen-md mx-auto bg-gray-100 p-6">
        <div class="p-6">
            <div>
                <h1 class="font-bold text-lg">{{ news.title }}</h1>
                <br>
                <span>{{ news.author }} | {{ news.date_published }}</span>
            </div>
            <div class="text-justify">
                <p>{{ news.content|linebreaksbr }}</p>
            </div>
        </div>
        <br>
        <div class = "p-6">
            <!-- Tombol "back" tanpa mengganti seluruh halaman -->
            <button onclick="goBack()" class="px-12 py-2 bg-teal-500 text-white hover:bg-teal-700 rounded">back</button>
            
        </div>
    </div>
    <!-- Footer Anda di sini -->
    {% include 'footer.html' %}
</div>

<script>
    // Fungsi untuk kembali ke halaman sebelumnya
    function goBack() {
        window.history.back();
    }
</script>
{% endblock content %}




