{% extends 'base.html' %}
{% load static %}
{% block title %}Books{% endblock title %}

{% block content %}
{% include 'header.html' %}
<div class="mt-6 px-6 py-12 bg-slate-100 rounded-xl">
    <div class="grid grid-cols-3 auto-cols-max gap-3">
        {% for book in books %}
            <div class="container col-span-1 flex flex-col bg-white border-2 p-4">
                <a href='#'></a>
                    <div class="p-5 border-b bg-teal-500 rounded-t-lg">
                        <img src="{{ book.cover_img }}" class="w-36 mx-32">
                    </div>
                    <div class="p-6 bg-white rounded-b-xl h-auto shadow-lg">
                        <h2 class="text-2xl text-center">{{ book.title }}<h2>
                        <div class="my-3 grid grid-cols-2 gap-2 text-center">
                            <p class="text-slate-500"> Author: {{ book.authors }}</p> 
                            <p class="text-slate-500"> ISBN: {{ book.isbn }}</p>
                            <p class="text-slate-500"> Publisher: {{ book.publisher }}</p> 
                            <p class="text-slate-500"> Pub Year: {{ book.pub_year }}</p>     
                        </div>
                    </div>
            </div>
        {% endfor %}

    </div>
</div>

{% include 'footer.html' %}
{% endblock content %}
