{% extends 'base.html' %}

{% block content %}

{% include 'header.html' %}

<div class="mt-6 px-6 py-4 bg-slate-100 rounded-xl">
    <div class="grid grid-cols-10 gap-5">

        <div class="container col-span-3 flex flex-col bg-white border-2 p-4">
            <a href='#'></a>
            <div class="bg-white shadow-lg rounded-lg cursor-grab">
                <img src="{{ book.cover_img }}" class="rounded-t-lg w-full h-64 object-cover">
                <div class="p-4 border-t-2 border-gray-200 ">
                    <h2 class="text-lg font-semibold">{{ book.title }}</h2>
                    <p class="text-sm">Author: {{ book.authors }}</p>
                    <p class="text-sm">Publisher: {{ book.publisher }}</p>
                    <p class="text-sm">ISBN: {{ book.isbn }}</p>
                    <p class="text-sm">Pub Year: {{ book.pub_year }}</p>
                    <p id="average_rating" class="text-sm"> Rating by users: {{ average_rating|floatformat:1 }}/5</p>
                </div>
            </div>
        </div>

        <div class="container col-span-7 flex flex-col bg-white border-2 p-4">
            {% if not review_user %}
            <a href="{% url 'reviews:create_review' book_id%}">
                <button id="add_review" class="block text-white bg-teal-500 hover:bg-teal-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-teal-500 dark:hover:bg-teal-700 dark:focus:ring-teal-800" type="button">
                    Add Review
                </button>
            </a>
            {% endif %}
            <div id="review_table" class="row-auto"></div>
        </div>
    </div>
</div>

<script>
    async function getReviews() {
        return fetch("{% url 'reviews:get_review_json' book_id%}").then((res) => res.json())
    }

    async function refreshReviews() {
        document.getElementById("review_table").innerHTML = ""
        const reviews = await getReviews()
        let htmlString = ``
        let uid = "{{ username }}"
        reviews.forEach((item) => {
            htmlString += `<tr>
                <div class='flex items-center justify-center'>  <div class="rounded-xl border p-5 shadow-md w-11/12 bg-white">
                    <div class="flex w-full items-center justify-between border-b pb-3">
                        <div class="flex items-center space-x-3">
                            <div class="text-xl font-bold ">${item.fields.title}</div>
                        </div>
                    </div>

                    <div class="mt-4 mb-6">
                        <div class="mb-3 text-lg" text-slate-400>${item.fields.rating} / 5</div>
                        <div class="text-m text-neutral-800">${item.fields.comment}</div>
                    </div>

                    <div>
                        <div class="flex items-center justify-between text-slate-500">
                            <div class="flex space-x-4 md:space-x-8">
                                <h1>by: ${item.fields.username} </h1>
                                ${uid == item.fields.username ? `
                                <a href="/reviews/edit-review/${item.pk}/{{book_id}}">
                                    <button class="flex cursor-pointer items-center transition hover:text-slate-600">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="mr-1.5 h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
                                        </svg>                                 
                                    </button>
                                </a>
                                <a href="#" onclick="removeReview(${item.pk})">
                                    <button id="deleteButton-${item.pk}" class="flex cursor-pointer items-center transition hover:text-slate-600" >
                                        <span class="mr-2">Delete</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path fill="currentcolor" d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"/>
                                        </svg>
                                    </button>
                                </a>
                                ` : ``}
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </tr>` 
                console.log("username length:", "{{ username|length }}");
                console.log("item.fields.username length:", item.fields.username.length);
        })
        document.getElementById("review_table").innerHTML = htmlString

        const { totalRating, totalReviews } = calculateAverageRating(reviews);
        const newAverageRating = totalReviews > 0 ? totalRating / totalReviews : 0;
        document.getElementById("average_rating").textContent = `Rating by users: ${newAverageRating.toFixed(1)}/5`;

    }
    refreshReviews()

    function removeReview(pk) {
        const data = new FormData()
        data.append("id", pk)
        fetch("{% url 'reviews:remove_ajax' %}", {
            method: "POST",
            body: data
        }).then(() => {
            // After removing, refresh the reviews and check whether to show the "Add Review" button
            refreshReviews();
        });
    }

    function calculateAverageRating(reviews) {
        return reviews.reduce(
            (acc, item) => {
                acc.totalRating += item.fields.rating;
                acc.totalReviews++;
                return acc;
            },
            { totalRating: 0, totalReviews: 0 }
        );
    }

</script>
{% endblock content %}